.service {
  .cellWithImg {
    display       : flex;
    flex-direction: column;
    align-items   : center;

    .cellImg {
      width        : 55px;
      height       : 45px;
      border-radius: 20%;
      object-fit   : cover;
      margin-right : 20px;
    }
  }

  .price {
    color: rgb(98, 80, 241)
  }

  .center {
    margin-top: 3px;
    text-align: center;
  }

  
}
.label {
  margin-bottom: 5px;
  display      : block;
}