.branch {

  .branch-box {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .branch-box h3 {
    margin-top: 0;
  }
  
  .branch-box p {
    margin: 5px 0;
  }

  .viewButton{
    background-color: aqua;
  }
 
}

